html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: 0;
  list-style-type: none;
}

h1 {
  font-family: "Bevan", cursive;
  color: #fff;
  background-color: #79756f;
  padding:inherit;
  padding: 0.6em 0.5em 3em;
  margin: inherit;
  text-align: center;
  border: 3px solid #595652;
  line-height: 1;
}

ul {
  text-align: center;
  margin-top: -80px;
}

.a {
  display: inline-block;
  padding: inherit;
  padding: 0.5em 0.75em;
  margin: inherit;
  background-color: #713837;
  color: #fff;
  border-radius: 5px;
  line-height: 1.5;
}

.b {
  display:inline-block;
  padding: inherit;
  padding: 0.5em 0.75em;
  margin: inherit;
  background-color: #713837;
  border-radius: 5px;
  line-height: 1.5;
}

.c {
  display:inline-block;
  padding: inherit;
  padding: 0.5em 0.75em;
  margin: inherit;
  background-color: #713837;
  border-radius: 5px;
  line-height: 1.5;
}

.d {
  display:inline-block;
  padding: inherit;
  padding: 0.5em 0.75em;
  margin: inherit;
  background-color: #713837;
  border-radius: 5px;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  color: #fff;
  text-decoration: inherit;
  background-color: #f33;
}

li:hover {
  background-color: #f33;
}
